[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/home/ubuntu/eclipse/eclipse
Icon=/home/ubuntu/eclipse/icon.xpm
StartupNotify=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE
Name=Eclipse
Comment=Eclipse Java IDE
